# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .gitattributes

# Отключаем преобразование символов новой строки для всех файлов в проекте
* -text

# Отключаем преобразование символов новой строки только для конкретного файла (например, App.jsx)
src/App.jsx -text

